<!-- used to define the header of our layout page -> included in layout.ejs -->

<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Authors</a></li>
        </ul>
    </nav>
</header>