<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBrary</title>
</head>
<body>
    <!-- including the header.ejs in the layout page -->
    <%- include("../partials/header.ejs") %> 
    <%- include("../partials/errorMessage.ejs") %> 
    
    <!-- include all of our pages (dynamically by render a view .ejs-page in routes) inside of this body -->
    <%- body %> 
</body>
</html>