<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBrary</title>
</head>
<body>
    Before
    <br>
    <!-- include all of our pages (dynamically by render a view .ejs-page in routes) inside of this body -->
    <%- body %> 
    <br>
    After
</body>
</html>