<h2 class="page-header">Recently Added</h2>
<div>
    <!-- outsource the book loop into partials/bookGrid.ejs -->
    <%- include("partials/bookGrid", {
        books: books,
        large: true
    }) %> 
</div>