<label>Name</label>
<!-- create an input using name tag inside which allows the server to access the data from the object -->
<!-- the name defines the variable in the body (body.name) for express you will need the body-parser library to access the data -->
<!-- "< %= %>"  output whatever you type in between theese notation as html -->
<input type="text" name="name" value="<%= author.name %> "> 